@charset "utf-8";


*{ 
margin:0;
padding:0;


}


.sidebar
{
float: left;
width:300px;
height:370vh;
background-color:#0f172a;
padding:25px 10px ;
border-radius: 65px; ;
position: fixed;
}

                  /*LOGO BAŞLANGIÇ*/ 
.logo img
{
width:300px;
height:300px;
}

.logo
{
text-align: center;
}
                   /*LOGO BİTİŞ*/

.mta ul 
{
text-align: center;
}

.mta ul h2{
    color:salmon;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px
}

.mta ul li
{
    margin-top: 50px;
    font-size:  35px; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}


.mta ul li a
{
    color:salmon;
    text-decoration:none;
}

/* SİDEBAR kadar kısım */


.icerik
{
 background-image: url('../kaynaklar/orange-2062226_640.jpg'); 
 width:83% ;
 height: 234vh;
 background-repeat: no-repeat;
 background-size: cover;
 padding-left:  25%;

}


h1
{
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
font-style:oblique;
color:aqua;   
}
#kampanyalar
{

border-radius: 100px;
width: 1050px;
background-color: rgba(236, 217, 227, 0.89);

}

table{
    padding-left: 80px;
    padding-top: 33px;
   
}

tr td img{
    border-radius: 50px;
   border: solid chocolate 5px  ;
   margin-top: 35px;
}
tr td{
padding-top: 33px;              /* yeni eklendi*/
}



p.kampanyalar  {

    font-family: Medium;
    font-size: 20px;
    color: chartreuse;
    font-weight: bold;
    text-align: center;

}

td h3{
    color: rgb(209, 52, 244);
    text-decoration: line-through;
}

/*İNDİRİMLER BİTİŞ */


/* ARDA TÜRKMEN BAŞLANGIÇ */

img.sol1{
    border-radius:100px;
    margin-top: 70px;

}


div.a{


    float: right;
    margin-right: 30pc;
    margin-top: 100px;
    line-height: 20px;
    font-size: 20px;
    font-weight:bolder;

}

/* ARDA TÜRKMEN BİTİŞ */

/* VEDAT MİNÖR BAŞLANGIÇ */

img.sol2{
    border-radius:100px;
    margin-top: 30px;

}


div.v{


    float: right;
    margin-right: 27pc;
    margin-top: 60px;
    line-height: 20px;
    font-size: 20px;
    font-weight:bolder;
}
/* VEDAT MİNÖR BİTİŞ */

/* SOMER SİVRİOĞLU BAŞLANGIÇ */
img.sol3{
    border-radius:110px;
    margin-top: 30px;
    width: 230px;

}


div.s{


    float: right;
    margin-right: 24pc;
    margin-top: 60px;
    line-height: 20px;
    font-size: 20px;
    font-weight:bolder;
}

/* SOMER SİVRİOĞLU BİTİŞ */

div.footer{

    margin-top: 144px;
    margin-left:250px;
    background-color: rgb(185, 9, 9);
    width: 50%;
    height: 100px;
}                                                     /* footer */
div.footer p{ 
    font-family: Arial;
    text-align: center;
    padding-top: 20px;
    font-weight: bolder;
}



/* MENÜLER SAYFASI */


.icerik2
{
 background-image: url('../kaynaklar/orange-2062226_640.jpg'); 
 width:83% ;
 height: 343vh;
 background-repeat: no-repeat;
 background-size: cover;
 padding-left:  25%;

}


#MENÜLER
{

border-radius: 100px;
width: 1050px;
background-color: rgba(168, 14, 96, 0.89)
}


#MENÜLER h1
{
text-align: center;
font-family: 'Arial Narrow Bold';
font-style:oblique;
color:aqua;   
padding-top: 30px;
}


#MENÜLER table{
    padding-left: 80px;
   
   
}


#MENÜLER tr td img{
    border-radius: 50px;
   border: solid chocolate 5px  ;
   margin-top: 0px;
}
#MENÜLER tr td{
padding-top: 10px;              
}



p.menüler  {

    font-family: Medium;
    font-size: 20px;
    color: chartreuse;
    font-weight: bold;
    text-align: center;

}


/* MENÜLER SAYFASI BİTİŞ*/

/*HAKKINDA BAŞLANGIÇ*/

.about{
    width: 83%;
    height: 149vh; ;
    background-image: url('../kaynaklar/orange-2062226_640.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left:  25%;
}

.about img{
    width: 400px;
    height: 400px;
   
}

.t h3{
    color:rgb(121, 4, 4);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold';
    text-decoration:underline;
}
.t{
    margin-right: 350px;
    color: rgb(0, 5, 5);
    
    text-align: center;
    border-style: dashed;
    border-width: 50px;
    margin: 0px 270px 0px 110px;
    border-color: rgb(237, 229, 22);
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 3.9pc;
}








